body {
  font-family: Arial;
  background: linear-gradient(#fff0f5, #ffe4f1);
  text-align: center;
  margin: 0;
}

header {
  background: #ff4da6;
  color: white;
  padding: 15px;
}

.status {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-weight: bold;
}

.cenario {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}

.opcoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.opcao {
  padding: 15px;
  border: none;
  background: #ffd6eb;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.opcao:hover {
  background: #ff4da6;
  color: white;
}

.log {
  margin: 20px;
  text-align: left;
}
