body {
    text-align: center;
    font-family: Arial;
    background: linear-gradient(#ffe4ec, #e0f7fa);
}

#quiz {
    margin-bottom: 30px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    background: pink;
    border-radius: 10px;
    cursor: pointer;
}

#game {
    position: relative;
    width: 200px;
    height: 400px;
    margin: auto;
    background: #c8f7c5;
    border: 3px solid black;
}

/* arco-íris */
#rainbow {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 30px;
}

/* gatinho */
#cat {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 30px;
    transition: 0.5s;
}
